[build]
  command = "npm run build"
  publish = "dist/client"
  functions = "netlify/functions"

[functions]
  included_files = ["dist/**", "index.html"]

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/ssr"
  status = 200
  force = false
